html, body {
  font-family: monospace;
  font-size: 18px;
  margin: 0 auto;
  color: #fefefe;
  background-color: #222;
}

button, select, input {
  font: inherit;
  font-size: 0.8rem;
  cursor: pointer;
  color: #fefefe;
  background-color: #222;
  border: 1px solid #fefefe;
  border-radius: 2px;
}

.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site__header,
.site__content {
  padding: 1rem 2rem;
}

.site__header {
  border-bottom: 2px dashed #ccc;
  display: flex;
  flex-flow: wrap;
}

.site__title {
  width: 100%;
}

.site__content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.algorithm-form {
  display: flex;
  flex-flow: wrap;
}

.algorithm-form__fieldset {
  display: flex;
  white-space: nowrap;
  border: none;
  padding: 0;
}

.bars-form {
  width: 100%;
}

.viz {
  position: relative;
  top: 10%;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  text-align: center;
  overflow-x: scroll;
  white-space: nowrap;
}

.viz__bar {
  flex-grow: 999;
  display: inline-block;
}
